  <div>
    <div class="rounded bg-white p-y-30 p-x-24 m-b-30 overflow-hidden">
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="page-title m-0 f-s-20 f-w-600">
          Image Details
        </h4>
        <div class="d-flex align-items-center">
          <button mat-raised-button color="primary" mat-ripple-loader-class-name="mat-mdc-button-ripple"
                  class="mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base" (click)="return()">
            Return
          </button>
        </div>
      </div>
    </div>
  </div>
<div *ngIf="!loading && imageDetails">
  <mat-card class="mat-mdc-card mdc-card cardWithShadow ng-star-inserted">
    <img src="{{ imageDetails.imagen }}" alt="imgSrc" class="mat-mdc-card-image mdc-card__media"  mat-card-image style="height: 440px" >
    <div _ngcontent-ng-c3947872107 class="card-overlay h-100 d-flex align-items-end justify-content-end">
      <mat-chip class="mat-mdc-chip f-s-12 f-w-600 m-y-16 m-r-16 bg-white mat-primary mdc-evolution-chip mat-mdc-standard-chip" mat-ripple-loader-uninitialized mat-ripple-loader-class-name="mat-mdc-chip-ripple">
      <span class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary">
        <span class="mdc-evolution-chip__action mat-mdc-chip-action mdc-evolution-chip__action--primary mdc-evolution-chip__action--presentational" aria-disabled="false">
          <span class="mdc-evolution-chip__text-label mat-mdc-chip-action-label">
            {{ timeAgo(imageDetails.creacion) }}
            <span class="mat-mdc-chip-primary-focus-indicator mat-mdc-focus-indicator"></span>
          </span>
        </span>
      </span>
      </mat-chip>
    </div>
    <mat-card-content class="mat-mdc-card-content p-24 b-b-1">
      <div class="user-category">
        <div>
          <img style="width:40px " class="rounded-circle" src="/assets/images/profile/user-1.jpg">
        </div>
        <mat-chip class="mat-mdc-chip f-s-12 m-y-16 f-w-600 mat-primary mdc-evolution-chip mat-mdc-standard-chip" mat-ripple-loader-class-name="mat-mdc-chip-ripple" id="mat-mdc-chip-1">
          <span class="mat-mdc-chip-focus-overlay"></span>
          <span class="mdc-evolution-chip__cell mdc-evolution-chip__cell--primary">
          <span class="mdc-evolution-chip__action mat-mdc-chip-action mdc-evolution-chip__action--primary mdc-evolution-chip__action--presentational" aria-disabled="false">
            <span class="mdc-evolution-chip__text-label mat-mdc-chip-action-label">
              Image by
              <span class="mat-mdc-chip-primary-focus-indicator mat-mdc-focus-indicator"></span>
            </span>
          </span>
        </span>
          <span class="mat-ripple mat-mdc-chip-ripple"></span>
        </mat-chip>
      </div>
      <mat-card-title _ngcontent-ng-c3947872107 class="mat-mdc-card-title m-t-16 m-b-24 blog-title">
        {{ imageDetails.album}}
        <div class="d-flex align-items-center justify-content-center m-t-24">
          <div class="d-flex align-items-center">
          <span  class="m-r-12 f-s-14 mat-subtitle-2 d-flex align-items-center">
            <i-tabler name="eye" class="icon-18 m-r-4">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
              </svg>
            </i-tabler>1
          </span>
            <span class="f-s-14 mat-subtitle-2 d-flex align-items-center">
            <i-tabler name="message-2" class="icon-18 m-r-4">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 9h8"></path>
                <path d="M8 13h6"></path>
                <path d="M9 18h-3a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-3l-3 3l-3 -3z"></path>
              </svg>
            </i-tabler>
            1
          </span>
          </div>
          <span class="m-l-auto f-s-14 mat-subtitle-2 d-flex align-items-center">
          <i-tabler name="point" class="icon-14 m-r-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path></svg>
          </i-tabler>
            {{ imageDetails.creacion | date:'EEE, MMM d' }}
        </span>
        </div>
      </mat-card-title>
    </mat-card-content>
    <mat-card-content class="mat-mdc-card-content p-24">
      <h2 class="mat-headline-5 f-w-600 f-s-30">
        {{ imageDetails.nombre }}
      </h2>
      <div class="bg-light rounded p-24 m-t-24">
        <p class="mat-body-1 m-t-16">
          {{ imageDetails.descripcion }}
        </p>
      </div>
      <mat-divider _ngcontent-ng-c3947872107="" role="separator" class="mat-divider m-y-32 mat-divider-horizontal" aria-orientation="horizontal"></mat-divider>
      <h2 class="mat-headline-5 f-w-600">
        Tags
      </h2>
      <ul>
        <li class="d-inline-block m-r-8" *ngFor="let label of imageDetails.labels">
          ** {{ label }} **
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-mdc-card mdc-card cardWithShadow">
    <mat-card-content class="mat-mdc-card-content p-24">
      <mat-card-title class="mat-mdc-card-title m-b-24 f-s-21">
        Translated text
      </mat-card-title>

      <mat-card-content class="mat-mdc-card-content p-24" [formGroup]="form">
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-select formControlName="languaje" placeholder="Select languaje">
                <mat-option *ngFor="let languaje of languajes" [value]="languaje.id">
                  {{ languaje.nombre }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('languaje')?.hasError('required') && form.get('languaje')?.touched">
                Languaje selection is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <button mat-raised-button color="accent" [disabled]="form.get('languaje')?.invalid" (click)="traslateText()">
              Translate
            </button>
          </div>
        </div>
      </mat-card-content>

      <mat-divider role="separator" class="mat-divider m-y-32 mat-divider-horizontal" aria-orientation="horizontal"></mat-divider>

      <div _ngcontent-ng-c3947872107="" class="bg-light rounded p-24 m-t-24" *ngIf="selectedLanguaje">
        <div _ngcontent-ng-c3947872107="" class="d-flex align-items-center">
          <img _ngcontent-ng-c3947872107="" src="/assets/images/profile/user-2.jpg" alt="user" width="35" class="rounded-circle">
          <span _ngcontent-ng-c3947872107="" class="mat-body-2 f-w-600 m-l-12">
            {{ selectedLanguaje.nombre }}
          </span>
          <span class="m-l-12 f-s-12 d-flex align-items-center">
            <i-tabler name="circle-filled" class="icon-7 op-5 d-flex m-r-4">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 3.34a10 10 0 1 1 -4.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 4.995 -8.336z"></path>
              </svg>
            </i-tabler>
            now
          </span>
        </div>
        <p class="mat-body-1 m-t-16">
          {{ textTranslated }}
        </p>
        <button mat-mini-fab="" color="primary" mattooltip="Reply" class="icon-30 m-t-16 mdc-fab mat-mdc-fab-base mdc-fab--mini mat-mdc-mini-fab mat-primary mat-mdc-button-base" mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple">
          <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
          <span class="mdc-button__label">
            <i-tabler name="arrow-back-up" class="icon-18" _nghost-ng-c2605515766="">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M9 14l-4 -4l4 -4"></path>
                <path d="M5 10h11a4 4 0 1 1 0 8h-1"></path>
              </svg>
            </i-tabler>
          </span>
          <span class="mat-mdc-focus-indicator"></span>
          <span class="mat-mdc-button-touch-target"></span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

  <div *ngIf="loading" class="spinner-container align-items-lg-center">
    <mat-spinner></mat-spinner>
  </div>
