.video-container {
  position: relative;

  .face-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid green; /* Borde verde */
    pointer-events: none; /* Para que no interfiera con el video */
    display: none; /* Oculto por defecto */
  }
}
