.mat-mdc-dialog-container {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    max-height: inherit;
    min-height: inherit;
    min-width: inherit;
    max-width: inherit;
    outline: 0;
}

.mat-mdc-dialog-actions {
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    min-height: 52px;
    margin: 0;
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0);
    padding: var(--mat-dialog-actions-padding, 8px);
    justify-content: var(--mat-dialog-actions-alignment, start);
}

.mat-mdc-dialog-surface {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    outline: 0;
    transform: scale(0.8);
    transition: transform var(--mat-dialog-transition-duration, 0ms) cubic-bezier(0, 0, 0.2, 1);
    max-height: inherit;
    min-height: inherit;
    min-width: inherit;
    max-width: inherit;
    box-shadow: var(--mat-dialog-container-elevation-shadow, 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12));
    border-radius: var(--mdc-dialog-container-shape, 4px);
    background-color: var(--mdc-dialog-container-color, white);
}