.timeline {
  position: relative;
  .timeline-item {
    position: relative;
    height: 70px;
    .time {
      padding: 6px 16px 6px 0;
      min-width: 90px;
      flex-shrink: 0;
    }
    .desc {
      padding: 6px 16px;
    }
    .timline-border {
      width: 1px;
      height: 100%;
      background-color: $borderColor;
      flex-shrink: 0;
    }

    &:last-child {
      height: 25px;
    }
    .point {
      flex-direction: column;
      .timeline-badge {
        width: 12px;
        height: 12px;
        border-radius: 50px;
        background-color: transparent;
        flex-shrink: 0;
        &.border-primary {
          border: 2px solid $primary !important;
        }
        &.border-accent {
          border: 2px solid $accent !important;
        }
        &.border-success {
          border: 2px solid $success;
        }
        &.border-warning {
          border: 2px solid $warning;
        }
        &.border-error {
          border: 2px solid $error;
        }
      }

      .timeline-border {
        width: 1px;
        height: 100%;
        background-color: $borderColor;
        flex-shrink: 0;
      }
    }
    &:last-child {
      .timeline-border {
        display: none !important;
      }
    }
  }
}

.user-category {
  margin-top: -45px;
  z-index: 1;
  position: relative;
}

.card-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 242px;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.cart-btn {
  position: absolute !important;
  right: 16px;
  top: -21px;
}

.table-borderless {
  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    border-bottom-color: transparent !important;
    &:first-child {
      padding-left: 0 !important;
    }
  }
}

.prev {
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  border: solid 1px white;
  top:50%;
  position: absolute;
}

.next {
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  border: solid 1px white;
  top:50%;
  right: 15px;
  position: absolute;
}

.slide-image {
  animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) none;
}

@keyframes slide-left {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translateX(0px);
  }
}

.album-card-container {
  min-width: 200px;
  max-width: 300px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: flex;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between; /* Mantén esto si quieres que los botones estén separados */
  align-items: center; /* Asegura que estén alineados verticalmente */
  gap: 10px; /* Añade un espacio entre los botones si es necesario */
  flex-wrap: nowrap; /* Evita que los botones se vayan a otra línea */
}

.example-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Elimina el width fijo */
}

section {
  display: block;
}
