.resaltado{
    background-color: #555 !important;
    color: white !important; 
    text-align: center !important;
    padding: 20px !important;
    vertical-align: center !important;
    font-size: medium;
    border-radius: 24px;
    font-size: larger;
}

.resaldato2{
    background-color: #f16868 !important;
    color: white !important; 
    text-align: center !important;
    padding: 20px !important;
    vertical-align: center !important;
    font-size: medium;
    border-radius: 24px;
    font-size: larger;
}