<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>
      Face ID Configuration
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="mat-mdc-card mdc-card b-1 shadow-none">
      <mat-card-header>
        <div class="mat-mdc-card-header-text">
          <mat-card-title>
            Configuration
          </mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="p-24 rounded bg-light-primary m-t-16">
          <mat-slide-toggle
            class="mat-mdc-slide-toggle mat-accent"
            [checked]="isSwitchOn"
            (change)="onToggleChange($event)">
            <div class="mdc-form-field mat-internal-form-field">
              <button
                role="switch"
                type="button"
                class="mdc-switch"
                tabindex="0"
                aria-checked="false">
              </button>
              <label
                class="mdc-label"
                for="mat-mdc-slide-toggle-14-button">
                Using facial recognition to authenticate?
              </label>
            </div>
          </mat-slide-toggle>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-mdc-card mdc-card b-1 shadow-none" *ngIf="isSwitchOn">
      <mat-card-header>
        <div class="mat-mdc-card-header-text">
          <mat-card-title>
            Please look at the Camera
          </mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content>
        <!-- Additional content here -->
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <h5 class="resaldato2">Camera <i class="bi bi-camera"></i></h5>
              <hr class="border border-primary border-3 opacity-75">

              <div *ngIf="recimagen">
                <img [src]="recimagen" alt="Reconocimiento facial" class="rec-imagen" width="100%">
              </div>

              <webcam
                *ngIf="mostrarWebcam"
                [height]="500"
                [width]="500"
                [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)">
              </webcam>

              <hr class="border border-primary border-3 opacity-75">
              <button mat-flat-button color="accent" *ngIf="mostrarWebcam" (click)="triggerCaptura()">Take Photo
              </button>
              <button mat-flat-button color="warn" *ngIf="!mostrarWebcam" (click)="toggleWebcam()">Retake Photo</button>
            </div>
          </div>

          <mat-divider
            class="mat-divider mat-divider-vertical"
            role="separator"
            aria-orientation="vertical">
          </mat-divider>

          <!-- Formulario -->
          <div class="col-lg-5">
            <div class="card">
              <h5 class="resaltado">
                In order to use the face ID, confirm this information <i class="bi bi-camera"></i>
              </h5>
              <hr class="border border-primary border-3 opacity-75">

              <form [formGroup]="form" (ngSubmit)="saveFaceId()" class="m-t-30">
                <button mat-flat-button color="accent" class="w-100">
                  Modify key photo
                </button>
                <hr class="border border-primary border-3 opacity-75">

                <div class="d-flex align-items-center m-b-16">
                  <!-- Mostrar la imagen previa si ya fue capturada o subida -->
                  <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview Image" width="100" class="rounded-circle">
                  <button mat-flat-button color="primary"
                          class="m-l-16 input-file-button mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"
                          mat-ripple-loader-class-name="mat-mdc-button-ripple">
          <span class="mdc-button__label">
            <input type="file" (change)="onFileSelected($event)">
          </span>
                  </button>
                </div>

                <hr class="border border-primary border-3 opacity-75">

                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
                  Password
                </mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput type="password" formControlName="password"/>
                </mat-form-field>

                <hr class="border border-primary border-3 opacity-75">

                <button mat-flat-button color="primary" class="w-100" [disabled]="form.invalid">
                  Save changes
                </button>

                <hr class="border border-primary border-3 opacity-75">

                <button mat-flat-button color="warn" class="w-100">
                  Cancel
                </button>
              </form>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
